<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alunos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px;
        }

        thead {
            text-align: center;
        }
    </style>
</head>
<script>
    function createAluno(){
        const matricula = document.getElementById("inputMatricula").value;
        const nome = document.getElementById("inputNome").value;
        const grupoId = document.getElementById("inputGrupoId").value;

       const body = JSON.stringify({
            matricula: matricula,
            nome: nome,
            grupoId: grupoId
        })

        fetch("/aluno/create", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: body
        }).then(response => {
            if (response.ok) {
                window.location.href = '/alunos';
            } else {
                console.error('Erro ao criar aluno:', response.statusText);
            }
        });
    }

    function updateAluno(matricula){
        const nome = document.getElementById("inputNome").value;
        const grupoId = document.getElementById("inputGrupoId").value;

       const body = JSON.stringify({
            matricula: matricula,
            nome: nome,
            grupoId: grupoId
        })

        fetch(`/aluno/update/${matricula}`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: body
        }).then(response => {
            if (response.ok) {
                window.location.href = '/alunos';
            } else {
                console.error('Erro ao atualizar aluno:', response.statusText);
            }
        });
    }


    function deleteAluno(matricula){

        fetch(`/aluno/delete/${matricula}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
        }).then(response => {
            if (response.ok) {
                window.location.href = '/alunos';
            } else {
                console.error('Erro ao deletar aluno:', response.statusText);
            }
        });
    }
</script>
<body style="display: flex; align-items: center ; justify-content: center; flex-direction: column">
    <h1>Lista de alunos</h1>
    <table>
        <thead>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>GrupoId</th>
            <th>Ações</th>
        </thead>
        <tbody>
            <% for(var i=0; i < alunos.length; i++) { %>
                <tr><td>
                        <%= alunos[i].matricula %>
                    </td>
                    <td>
                        <%= alunos[i].nome %>
                    </td>
                    <td>
                        <%= alunos[i].grupoId %>
                    </td>
                    <td>
                        <button class="btn" data-bs-toggle="modal" data-bs-target="#addModal"><i class="fa fa-user-plus"></i></button>
                        <button class="btn"><i class="fa fa-user-times" onclick="deleteAluno('<%= alunos[i].matricula%>')"></i></button>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Aluno</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputNumber1" class="form-label">Matricula</label>
                            <input type="number" class="form-control" id="inputMatricula">
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputText1" class="form-label">Nome</label>
                          <input type="text" class="form-control" id="inputNome">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputNumber1" class="form-label">grupoId</label>
                            <input type="number" class="form-control" id="inputGrupoId">
                          </div>
                      </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary" onclick="createAluno()">Salvar Aluno</button>
                </div>
            </div>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>